*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer; 
}

a {
  text-decoration: none;
  color: inherit;
}

button {
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
}

.audio {
    text-decoration: underline;
}



